{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/static/memory.css">
{% endblock %}

{% block title %}Z-Hunt{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Z-Hunt III</h1>
</div>
<div class="page-header">
    <h3>Prototype</h3>
        <li> <a href= {{ url_for('huntform') }}> Z-Form</a>: enter a sequence to analyze. </li>
        <li> <a href= {{ url_for('memory') }}> Memory </a>: to select previously created sequences and load them into the program.</li>
</div>
{% endblock %}

